<h1>Modificar actor</h1>

<div class="container">
  <form ng-submit="actoresCtrl.modificarActor(actorData)">
    <input type="text" name="nombre" placeholder="nombre" ng-model="actoresCtrl.actorData.nombre">
    <input type="text" name="apellido1" placeholder="apellido1" ng-model="actoresCtrl.actorData.ape1">
    <input type="text" name="apellido2" placeholder="apellido2" ng-model="actoresCtrl.actorData.ape2">
    <input type="text" name="premios" placeholder="cantidad de premios" ng-model="actoresCtrl.actorData.premios">
    <input type="text" name="fechaNac" placeholder="fecha de nacimiento" ng-model="actoresCtrl.actorData.fechaNac">
    <input type="text" name="imagen" placeholder="imagen" ng-model="actoresCtrl.actorData.image">
    <button type="submit">Modificar</button>
  </form>
</div>