<h1>Consultar actor</h1>

<form name="myForm" ng-model="consultar(actorData)">
	<label for="repeatSelect">Seleccione un actor: </label>
	<select ng-model="actoresCtrl.actor">
	  <option ng-repeat="option in actoresCtrl.actores" ng-value="{{option.nombre}}">{{option.name}}</option>
	</select>
</form>
<table id="tblActor">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido 1</th>
      <th>Apellido 2</th>
      <th>Fecha Nacimiento</th>
      <th>Premios</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="actor in actoresCtrl.actores">
        <td>{{actoresCtrl.actor.nombre}}</td>
        <td>{{actoresCtrl.actor.ape1}}</td>
        <td>{{actoresCtrl.actor.ape2}}</td>
        <td>{{actoresCtrl.actor.premios}}</td>
        <td>{{actoresCtrl.actor.fechaNa}}</td>
        <td>{{actoresCtrl.actor.iamge}}</td>
    </tr>
  </tbody>
</table>